

/* Define variables in the :root */
:root {
    --backgr: #000000;
    --purple: #8B4DBA;
    --contrast: #000000;
    --dark-purple: #7451FF;
    --text: #FFFFFF;
  }
 
 #backgr-video {
   position: fixed;
   right: 0;
   bottom: 0;
   min-width: 100%; 
   min-height: 100%;
 }
 
 h1 {
   font-family: "hwt-arabesque", sans-serif;
   font-weight: 400;
   font-size: 50px;
   font-style: normal;
   color: var(--text);
   text-align: center; /*Placerer teksten i midten af siden*/ 
 }
 
 h2 {
   font-family: "hwt-arabesque", sans-serif;
   font-weight: 400;
   font-size: 30px;
   font-style: normal;
   color: var(--text);
   text-align: center; /*Placerer teksten i midten af siden*/ 
 }
 
 h3, h4, h5, h6 {
   font-family: "roca", sans-serif;
   font-weight: 400, 700, 800;
   font-style: normal;
   color: var(--text);
 }
 
 p {
   font-family: "roc-grotesk", sans-serif;
   font-weight: 800;
   font-style: normal;
   color: var(--text);
 }

 
 
 /* Use your variables on elements */
 
 
  .video-background {
   position: absolute;
   object-fit: cover;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1; /*Sørger for er video er i baggrunden, så indholdet kan vises ovenpå*/
  }
 
 
 /* --------- SCROLLBAR --------- */
#scrollBar{
  position: fixed;
  right: 30px;
  margin-top: 20px 
}
 
/* --- UDDYBBENDE STJERNETEGN - DELEN --- */



/*Placering og styling af .indledendetekst, da disse skal se anderledes ud*/
  .indledendetekst {
    margin: 5% 10% 5% 10%;
    text-align: center;
    font-size: larger;
    transition: all 1s;
    opacity: 0;
 }


 /*Placering og Styling af sektionerne*/
 .CKuddybbendestjernetegn{
   display: flex; /*Bruger flexbox til at arrangere elementerne*/
   margin: 3% 0 5% 5%; /*Tilføjer margener omkring sektionen*/
   gap: 13%; /* Tilføjer en afstand på 7% mellem de enkelte flex-elementer */
   padding-left: 12%; /* Tilføjer 20% padding til venstre */
   max-width: 65%; /* Begrænser bredden af kontaktsektionen til 60% */
 }


/* Fade-in effekt med animation */
.CKuddybbendestjernetegn {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;  /* Anvender fade-in animation */
}

@keyframes fadeIn {
  0% {
    opacity: 0;  /* Start med usynlig */
  }
  100% {
    opacity: 1;  /* Slut med synlig */
  }
}

/*Placering af #qrKode*/
#qrKode{
display: block;
  margin: auto;
  width: 300px;
}