
/* ---- FÆLLES VARIABLER FOR SITET ---- */

:root {
  --backgr: #000000;
  --purple: #8B4DBA;
  --contrast: #000000;
  --dark-purple: #7451FF;
  --text: #FFFFFF;
  }
 
 /* Placering af baggrundsvideoen */ 
 #backgr-video {
   position: fixed; /* Sørger for at den forbliver ved den givne position*/
   right: 0;
   bottom: 0;
   min-width: 100%; 
   min-height: 100%;
 }
 

 .video-background {
  position: absolute;
  /* object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
  z-index: -1; /*Sørger for er video er i baggrunden, så indholdet kan vises ovenpå*/
 }


/*Styling af tekster*/
 h1 {
   font-family: "hwt-arabesque", sans-serif;
   font-weight: 400;
   font-size: 50px;
   color: var(--text);
   text-align: center; /*Placerer teksten i midten af siden*/ 
 }
 
 h2 {
   font-family: "hwt-arabesque", sans-serif;
   font-weight: 400;
   font-size: 30px;
   font-style: normal;
   color: var(--text);
   text-align: center; /*Placerer teksten i midten af siden*/ 
 }
 
 h3, h4, h5, h6 {
   font-family: "roca", sans-serif;
   font-weight: 700;
   font-style: normal;
   color: var(--text);
 }
 
 p {
   font-family: "roc-grotesk", sans-serif;
   font-weight: 800;
   font-style: normal;
   color: var(--text);
 }

  
 
/* ---- SCROLLBAR ---- */

/* Placering og styling af scrollbaren*/
#scrollBar{
  position: fixed;  /* Fastgør elementet, så det forbliver på samme sted på skærmen */
  right: 30px;      /* Placerer elementet 30px fra højre kant af skærmen */
  margin-top: 20px; /* Tilføjer 20px margen ovenover elementet */
  cursor: pointer;  /* Ændrer markøren til en hånd ved hover */
  padding: 50px 10px; /* Gør knappen større med indvendig afstand */
  background-color: #ffffff; /* Grøn baggrundsfarve */
  border: none;     /*Fjerne kanten*/
  border-radius: 20px; /* Giver knappen bløde, afrundede kanter */

}
 
/* Placering og styling af tilbagepilen */
#tilbagePil{
  margin: 20px;
}


/* ---- UDDYBBENDE TEKSTER - DELEN ---- */

/* Styling af del elementerne */
#foersteDel, #andenDel, #tredjeDel{
  transition: all 2s; /* Tilføjer overgangstid på 2 sekunder */
  opacity:0;          /* Gør elementerne usynlige ved at sætte gennemsigtigheden til 0; de vil først blive vist, når JavaScript ændrer opacity ved scroll */
}


/*Placering og styling af .indledendetekst, da disse skal se anderledes ud end de andre paragraphs */
  .introTekst {
    margin: 5% 10% 5% 10%; /* Tilføjer margin */
    text-align: center;    /* Placerer teksterne */
    font-size: larger;     /* Gør denne tekst større */
 }

 /*Placering og styling af sektionerne*/
 .astroInfo{
   display: flex;      /* Bruger flexbox til at arrangere elementerne */
   margin: 3% 0 5% 5%; /* Tilføjer margener omkring sektionen */
   gap: 13%;           /* Tilføjer en afstand på 13% mellem de enkelte flex-elementer */
   padding-left: 12%;  /* Tilføjer 12% padding til venstre */
   max-width: 65%;     /* Begrænser bredden af til 65% */
 }

/* ---- Infografik styling ---- */


.star {
  text-align: center;
  position: relative;
}

.icon {
  display: inline-block;
  transition: transform 0.3s;
  cursor: pointer;
}

.icon-move {
  transform: translateX(-100px); /* Flytter ikonet til venstre efter aktivering */
}

.infographic {
  display: none; /* Så infografikken starter ud som skjult */
  margin: 20px auto;
  padding: 20px;
  background-color: transparent;
  width: 80%;
  max-width: 500px;
}

#infografik-video {
  height: 700px;
  width: auto;
}

/* ---- Down down menuer og Big 3 beregner styling ---- */
.spacing{
  margin-left: 5px;
 }

 .dropdown-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
 }

 .kalender-container {
  display: flex;
  justify-content: center;
  align-self: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--text); 
  margin-right: 0px;
  padding: 10px;
  border: 1px solid var(--contrast);
}

.place-container {
  display: flex;
  justify-self: center;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 5px;
  border: 1px solid var(--contrast);
}

.time-container {
  display: flex;
  justify-self: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--text);
  margin-left: 0px;
  border: 1px solid var(--contrast);
}

#kl {
  color: var(--contrast);
  font-family: "roca", sans-serif;
  padding-top: 2px;
}

.time-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -10px;
  margin-top: -9px;

}

select {
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

button, input, select, textarea {
  font-family: "hwt-arabesque", sans-serif;
}

.stjerne-container {
  display: flex; 
  justify-self: center;
  align-items: center;
  font-family: "roc-grotesk", sans-serif;
  font-size: 12px;
  color: var(--text);
  font-weight: 100;
  margin: 0;
  margin-left: 5px;
  font-style: italic;
}

/*Beregn Knappen*/
.stjerne-beregn {
  display: flex;
  justify-self: center;
  align-self: center;
  font-family: "roc-grotesk", sans-serif;
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  background-color: var(--text);
  color: var(--contrast);
  margin: 10px;
  margin-top: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.stjerne-beregn:hover {
  background-color: var(--purple)
}

.big3-container {
  display: flex; 
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}


/* ---- QR koden ---- */

/*Placering af #qrKode*/
#qrKode{
display: block; /* Gør elementet til en blok, så det kan centreres og tilpasses i bredden */
  margin: auto; /* Centrerer elementet */
  width: 300px; /* Sætter elementets bredde til 300 px */
}



/* ---- SIDEN ER VALIDERET - ALT OK! ---- */